.menu-btn{
   transform: translatex(2.5rem);
   cursor: pointer;
   transition: all 300ms ease-in-out;
}

@media (min-width:768px) {
    .menu-btn{
        display: none;
    }
}

.search-section{
    display: flex;
    align-items: center;
    width: 100%;

}

.search-section img {
    transform: translateX(100%);
}